body{
    background-color: rgb(226, 226, 226);
}
.naslov{
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}
.main{
    background-color: white;
    padding: 1rem;
    border-radius: 8%;
    font-size: 1.125rem;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    width:300px;
    height:350px;
}
#podatki{
    text-align: center;
}
.container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.hide{
    display: none;
}
.list {
    text-align: left;
    display: inline-block;
    padding: 2px;
    height: 120px;
    overflow: auto;
}
.line{
    cursor: default;
}
input[type=submit]{
    width:100%;
    border:0px;
    font-size: 1.125rem;
    padding: 5px;
}
input[type=submit]:hover{
    transition: 0.5s;
    background-color: black;
    color:white;
}
table{
    position: relative;
    display: inline-block;
    left:50%;
    transform: translateX(-50%);
    margin-top: 10px;

    border-collapse:collapse;

    height: 47vh;
    width: 50vw;
    overflow: auto;
    background-color: rgb(226, 226, 226);
    border: none;
}
td,tr,th{
    background-color: white;
    color:black;
    border: 1px solid black;
    padding: 10px;
    font-size: 1.125rem;
    width: 40vw;
}
td[rowspan] ,th[rowspan] {
    vertical-align: top;
    text-align: center;
  }
tr:nth-child(2)>th:nth-child(n+1){
    background-color: rgb(252, 202, 76);
}
input[name="iskanjeK"],input[name="iskanjeRep"]{
    height:20px;
    border-radius: 5px;
    padding: 5px;
}
.slash{
    position:relative;
    top: 12px;
    font-size: 3rem;
    padding: 2%;
}
button{   
    position:relative;
    top: 8px;
    background: none;
    border:none;
    margin-bottom: 5px;
}
.material-symbols-outlined {
    background: lightgrey;
    border-radius: 50%;
    padding: 10px;
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 40 
}
.material-symbols-outlined:hover {
    transition: 0.5s;
    color:white;
    background: gray;
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 40 
}
.invis{
    background: rgb(226, 226, 226);
    border-top-color: rgb(226, 226, 226); 
    border-right-color: rgb(226, 226, 226);
    border-left-color: rgb(226, 226, 226);
}
.avtor{
    position: fixed;
    bottom: 0%;
    right: 0%;
    padding: 10px;
}


